body{

    background-color: #854242;
    font-family: 'Work Sans', sans-serif;;
    color: #fff;
}

.card-body{

    background-color: #7B2524;

}

.DAT{
    width: 100%;
    background-color: #701A19;
    --bs-list-group-color: #fff;
    --bs-list-group-bg: #5A0404;
    --bs-list-group-border-color: var(--bs-border-color);
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: #7B2524;
    --bs-list-group-action-active-color: #fff;
    --bs-list-group-action-active-bg: #86302F;
    --bs-list-group-disabled-color: #5A0404;
    --bs-list-group-disabled-bg: #5A0404;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    border-color: #B42C2B;
}

.list-group{
    width: 100%;
    background-color: #5A0404;
    --bs-list-group-color: #fff;
    --bs-list-group-bg: #5A0404;
    --bs-list-group-border-color: var(--bs-border-color);
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: #7B2524;
    --bs-list-group-action-active-color: #fff;
    --bs-list-group-action-active-bg: #86302F;
    --bs-list-group-disabled-color: #5A0404;
    --bs-list-group-disabled-bg: #5A0404;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    border-color: #86302F;
}

.REST{

    width: 100%;
    background-color: #5A0404;
    --bs-list-group-color: #fff;
    --bs-list-group-bg: #5A0404;
    --bs-list-group-border-color: var(--bs-border-color);
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: var(--bs-border-radius);
    --bs-list-group-item-padding-x: 1rem;
    --bs-list-group-item-padding-y: 0.5rem;
    --bs-list-group-action-color: var(--bs-secondary-color);
    --bs-list-group-action-hover-color: #fff;
    --bs-list-group-action-hover-bg: #7B2524;
    --bs-list-group-action-active-color: #fff;
    --bs-list-group-action-active-bg: #86302F;
    --bs-list-group-disabled-color: #5A0404;
    --bs-list-group-disabled-bg: #5A0404;
    --bs-list-group-active-color: #fff;
    --bs-list-group-active-bg: #0d6efd;
    --bs-list-group-active-border-color: #0d6efd;
    border-color: #86302F;


}

.PARTEIZQ{

    padding: 8px;

}

.btn-dark {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5A0404;
    --bs-btn-border-color: #5A0404;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #7B2524;
    --bs-btn-hover-border-color: #701A19;
    --bs-btn-focus-shadow-rgb: 66,70,73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #86302F;
    --bs-btn-active-border-color: #701A19;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5A0404;
    --bs-btn-disabled-border-color: #5A0404;
}